h1 { 
  padding: 5px 0;
  background: #eee;
}

#results { padding: 0 20px; }
.details { font-size: 80%; }
a.session { color: #363; }
.base { color: #833; }
.act { color: #383; }
.ver { color: #338; }

table.headers { 
  font-family: monospace;
  width: 100%;
}
table.headers tr td { 
  background: #eee;
  padding: 2px;
  border-bottom: 1px solid #ddd;
}
table.headers tr th { 
  text-align: right; 
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #ccc;
  background: #ddd;
  padding: 2px;
  width: 200px;
}

table.xmlbody { 
  font-family: monospace;
  width: 100%;
}
table.xmlbody tr th { 
  text-align: left; 
  font-size: 90%;
  color: #833;
}

table.compare tr.bottom td { 
  border-bottom: 1px solid #aaa;
}
