<table>
  <tr><td valign="top">
    <h1>Sessions</h1>
    <table>
    <% last_time = 0 %>
    <% @sessions.each do |sess, req, res, time| %>
      <% if (time - last_time) > 2 %>
        <tr><td colspan="2"><hr/></td></tr>
      <% end %>
      <% last_time = time %>
      <tr>
        <td nowrap><a class="session" href="#" rel="/sess/<%= sess %>"><%= req %></a></td>
        <td nowrap><%= res %></td>
      </tr>
    <% end %>
    </table>
  </td><td valign="top">
    <h1>Results</h1>
    <div id="results"></div>
  </td></tr>
</table>


<script type="text/javascript">
  $(function(){
      $(".session").click(function() {
        $("#results").load($(this).attr('rel'))
      })
  })
</script>
